@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

body {
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #262e1f;
}

.container {
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container > div {
    position: absolute;
    font-weight: 600;
    font-size: 5em;
    text-align: left;
    color: #ffffff;
}

.text-stroke {
    -webkit-text-fill-color: #ffffff00;
    -webkit-text-stroke: 0.015em #ffffff;
}

.button {
    margin-top: 560px;
    background-color: #ffffff;
    border: none;
    color: #262e1f;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
    transition: all .1s linear;
}

.button:hover {
    opacity: 0.6;
}